/* FormA.css */
@font-face {
  font-family: 'custom-sans-serif';
  src: local('標楷體') , local('Microsoft JhengHei');
  unicode-range: U+4E00-9FFF; /* 這表示中文字符範圍 */
}

@font-face {
    font-family: 'custom-sans-serif';
    src: local('book antiqua'), local(Segoe UI);
    unicode-range: U+00-024F;
}

.FormA .form-container {
  font-size: 28px; /* 網頁字體大小 */
  font-family: 'custom-sans-serif', sans-serif;
}

@media (max-width: 1700px) {
  .FormA .form-container {
      font-size: 22px; /* 網頁字體大小 */
      font-family: 'custom-sans-serif', sans-serif;
    }
}

.FormA .form-container input {
    font-size: 30px;
    font-family: 'custom-sans-serif', sans-serif;
    height: 80px; /* 設置足夠的高度 */
    line-height: 80px; /* 行高設置為與高度一致 */
    padding: 0; /* 取消內邊距，確保文字完全可見 */
    margin: 10px 0; /* 添加上下邊距 */
    border: 2px solid white; /* 設置邊框顏色為白色 */
    background-color: #122331; /* 設置背景顏色為白色 */
    color: white; /* 設置文字顏色 */
}

.FormA .form-container .input-small {
    width: 40px;
    height: 40px;
    text-align:center;
}

.FormA .form-container .input-medium {
    width: 60px;
    height:40px;
    text-align:center;
}

.FormA .form-container .input-large {
    width: 230px;
    height: 40px;
}

.FormA .title {
    display: flex; /* 使外層容器也是flex */
    flex-direction: column;  /* 如果需要上下排列 */
    align-items: center; /* 垂直居中 */
    font-weight: bold;
}

.textarea-box {
    width: 990px;          /* 設定寬度 */
    height: 340px;         /* 設定高度 */
    padding: 10px;         /* 內部邊距 */
    border: 1px solid #ccc; /* 邊框樣式 */
    border-radius: 5px;    /* 圓角 */
    font-family: 'custom-sans-serif', sans-serif; /* 設定字體 */
    font-size: 28px;       /* 設定字體大小 */
    line-height: 1.5;      /* 設定行高 */
    resize: none;          /* 禁止用戶調整大小 */
    white-space: pre-wrap; /* 確保空白符號和換行符號能夠被尊重 */
    white-space: normal;
    background-color:transparent;
    color:white;
}

@media (max-width: 1700px) {
  .textarea-box {
    width: 860px;          /* 設定寬度 */
    height: 290px;         /* 設定高度 */
    padding: 10px;         /* 內部邊距 */
    border: 1px solid #ccc; /* 邊框樣式 */
    border-radius: 5px;    /* 圓角 */
    font-family: 'custom-sans-serif', sans-serif; /* 設定字體 */
    font-size: 24px;       /* 設定字體大小 */
    line-height: 1.5;      /* 設定行高 */
    resize: none;          /* 禁止用戶調整大小 */
    white-space: pre-wrap; /* 確保空白符號和換行符號能夠被尊重 */
    white-space: normal;
    background-color:transparent;
    color:white;
}
}

.search_button{
    background-color: #EBC857;
    margin-Left: 10px;
    padding: 1px 10px;
    color: #424242; /* 設置文字顏色 */
    cursor: pointer; /* 鼠標指針樣式 */
    font-size: 25px; /* 調整字體大小 */
}

.submit_button {
    background-color: #EBC857;
    margin: 0;
    padding: 10px 20px; /* 增加內邊距以適應橢圓形 */
    border-radius: 50px; /* 設置邊框半徑，形成橢圓形 */
    color: #424242; /* 設置文字顏色 */
    cursor: pointer; /* 鼠標指針樣式 */
    font-size: 30px; /* 調整字體大小 */
    transition: background-color 0.3s; /* 加入過渡效果 */
}

.search_button:hover,.submit_button:hover {
    background-color: #D3B03D;
}

select.custom-select {
    background-color: transparent;
    border: 2px solid white;
    font-family: 'custom-sans-serif', sans-serif;
    font-size: 28px;
    color: white;
    padding: 10px;
}
.custom-select option {
    background-color: #192F42;
    font-family: 'custom-sans-serif', sans-serif;
}

select.option-select {
    background-color: transparent;
    border: 2px solid white;
    font-family: 'custom-sans-serif', sans-serif;
    font-size: 28px;
    color: white;
    padding: 5px;
}

@media (max-width: 1700px) {
  select.option-select {
    background-color: transparent;
    border: 2px solid white;
    font-family: 'custom-sans-serif', sans-serif;
    font-size: 22px;
    color: white;
    padding: 5px;
  }
}

.option-select option {
    background-color: #192F42;
    font-family: 'custom-sans-serif', sans-serif;
}

