/* MyForm.css */
@font-face {
  font-family: 'custom-sans-serif';
  src: local('標楷體') , local('Microsoft JhengHei');
  unicode-range: U+4E00-9FFF; /* 這表示中文字符範圍 */
}

@font-face {
    font-family: 'custom-sans-serif';
    src: local('book antiqua'), local(Segoe UI);
    unicode-range: U+00-024F;
}

.chinese-text {
  font-family: 'custom-sans-serif', sans-serif;
}

.number-text {
  font-family: 'custom-sans-serif', sans-serif;
}


.webView {
  font-size: 30px; /* 網頁字體大小 */
  font-family: 'custom-sans-serif', sans-serif;
}

.pdf-view {
  font-size: 19px; /* PDF字體大小 */
  font-family: 'custom-sans-serif', sans-serif;
}

.web-view input {
    font-size: 30px;
    font-family: 'custom-sans-serif', sans-serif;
}

.web-view .input-small {
    width: 35px;
    height: 30px;
}

/* 中框框 */
.web-view .input-medium {
    width: 70px;
    height:30px;
}

.web-view .input-large {
    width: 230px;
    height: 30px;
}

.pdf-view input {
    font-size: 19px;
    font-family: 'custom-sans-serif', sans-serif;
}

.pdf-view .input-small {
    width: 20px;
    height: 20px;
}

.pdf-view .input-medium {
    width: 45px;
    height: 20px;
}

.pdf-view .input-large {
    width: 180px;
    height: 20px;
}

label{
   color:black;

}


.container {
    display: flex;
    flex-direction: column;
    font-family: 'custom-sans-serif', sans-serif;

}

.title {
    text-align: center;
}



.class1 {
    display: flex; /* 使外層容器也是flex */
    flex-direction: column; /* 如果需要上下排列 */
    align-items: center; /* 垂直居中 */
    font-weight: bold;
}

.class3{
    text-align:left
}

.class4{
    text-align:center;
}
.class5{

    text-align:left;
}

.class6{

    text-align:left;
}
.class7{
    text-align:left;
    color:red;
}

.class8{

    display: flex; /* 使外層容器也是flex */
    flex-direction: column; /* 如果需要上下排列 */
    align-items: flex-end; /* 垂直居中 */
    font-weight: bold;
}
.class9{
    text-align:left;
}
.class10{
    background-color: #FEF2CC;

}

.textarea-box {
    width: 710px;          /* 設定寬度 */
    height: 190px;         /* 設定高度 */
    padding: 10px;         /* 內部邊距 */
    border: 1px solid #ccc; /* 邊框樣式 */
    border-radius: 5px;    /* 圓角 */
    font-family: 'custom-sans-serif', sans-serif; /* 設定字體 */
    font-size: 19px;       /* 設定字體大小 */
    line-height: 1.5;      /* 設定行高 */
    resize: none;          /* 禁止用戶調整大小 */
    white-space: pre-wrap; /* 確保空白符號和換行符號能夠被尊重 */
    white-space: normal;
}

#generatePdfButton {
    display: inline-block; /* 確保按鈕不會變成 block 影響對齊 */
    margin: 0 auto; /* 使按鈕居中 */
    text-align: center; /* 文字居中 */
}