@font-face {
  font-family: 'custom-login';
  src: local('微軟正黑體') , local('Microsoft JhengHei');
  unicode-range: U+4E00-9FFF; /* 這表示中文字符範圍 */
}

@font-face {
    font-family: 'custom-login';
    src: local('calibri'), local(Segoe UI);
    unicode-range: U+00-024F;
}

body {
    background-color: #192F42;
    margin: 0;
    font-family: 'custom-login', sans-serif;
    font-size:32px;
}

@media (max-width: 1700px) {
  body {
    background-color: #192F42;
    margin: 0;
    font-family: 'custom-login', sans-serif;
    font-size:24px;
  }
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.logo-login {
    margin-bottom: 120px;
}

.logo-login img {
    position: absolute;
    transform: translateX(-50%);
    width: 495px;
    height: 51px;
}

.label-login{
    color: #FFFFFF;
    font-family: 'custom-login', sans-serif;
}

input {
    display: block;
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:30px;
}


.login_button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'custom-login', sans-serif;
    font-size:30px;
}

button:hover {
    background-color: yellow;
}

.error-message {
  color: red;
  margin-top: 100px;
}