@font-face {
  font-family: 'custom-login';
  src: local('微軟正黑體') , local('Microsoft JhengHei');
  unicode-range: U+4E00-9FFF; /* 這表示中文字符範圍 */
}

@font-face {
    font-family: 'custom-login';
    src: local('calibri'), local(Segoe UI);
    unicode-range: U+00-024F;
}


body {
    background-color: #192F42;
    margin: 0;
    font-family: 'custom-login', sans-serif;
    font-size:36px;
}

.login {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    height: 100vh;          /* 使容器占满整个视口高度 */
}

.logo-login img {
    position: absolute;
    top: 30%;               /* 仍然保持距离顶部的距离 */
    left: 50%;               /* 将元素的左边距设置为 50% */
    transform: translateX(-50%); /* 向左平移自身宽度的一半，达到居中效果 */
    width: 500px;           /* 设置具体宽度 */
    height: auto;
}

.label-login{
    color: #FFFFFF;
    font-family: 'custom-login', sans-serif;
}

input {
    display: block;      /* 使输入框为块级元素 */
    width: 70%;        /* 宽度为100% */
    padding: 10px;      /* 内边距 */
    margin: 10px 0;     /* 上下外边距 */
    border: 1px solid #ccc; /* 边框 */
    border-radius: 4px; /* 圆角边框 */
    font-size:30px;
}

.login_button {
    width: 100%;        /* 按钮宽度为100% */
    padding: 10px;      /* 内边距 */
    background-color: orange; /* 按钮背景色 */
    color: black;       /* 字体颜色 */
    border: none;       /* 去掉边框 */
    border-radius: 4px; /* 圆角 */
    cursor: pointer;    /* 鼠标指针 */
    font-family: 'custom-login', sans-serif;
}

button:hover {
    background-color: yellow; /* 鼠标悬停时的背景色 */
}