/* MyForm.css */
@font-face {
  font-family: 'custom-sans-serif';
  src: local('標楷體') , local('Microsoft JhengHei');
  unicode-range: U+4E00-9FFF; /* 這表示中文字符範圍 */
}

@font-face {
    font-family: 'custom-sans-serif';
    src: local('book antiqua'), local(Segoe UI);
    unicode-range: U+00-024F;
}

.chinese-text {
  font-family: 'custom-sans-serif', sans-serif;
}

.number-text {
  font-family: 'custom-sans-serif', sans-serif;
}

.web-view {
  font-size: 36px; /* 網頁字體大小 */
  font-family: 'custom-sans-serif', sans-serif;
}

.pdf-view {
  font-size: 19px; /* PDF字體大小 */
  font-family: 'custom-sans-serif', sans-serif;
}

.web-view input {
    font-size: 36px;
    font-family: 'custom-sans-serif', sans-serif;
}

.web-view .input-small {
    width: 50px;
    height: 35px;
}

/* 中框框 */
.web-view .input-medium {
    width: 90px;
    height:35px;
}

.web-view .input-large {
    width: 200px;
    height: 35px;
}

.pdf-view input {
    font-size: 19px;
    font-family: 'custom-sans-serif', sans-serif;
}

.pdf-view .input-small {
    width: 20px;
    height: 20px;
}

.pdf-view .input-medium {
    width: 45px;
    height: 20px;
}

.pdf-view .input-large {
    width: 180px;
    height: 20px;
}


.container {
    display: flex;
    flex-direction: column;
    font-family: 'custom-sans-serif', sans-serif;

}

.title {
    text-align: center;
}

.class1{
    text-align:center;
    font-weight: bold;
}

.class3{
    text-align:left
}

.class4{
    text-align:left;
}
.class5{

    text-align:left;
}

.class6{

    text-align:left;
}
.class7{
    text-align:left;
    color:red;
}

.class8{
    text-align:right;
}
.class9{
    text-align:left;
}

.textarea-box {
    width: 710px;          /* 設定寬度 */
    height: 190px;         /* 設定高度 */
    padding: 10px;         /* 內部邊距 */
    border: 1px solid #ccc; /* 邊框樣式 */
    border-radius: 5px;    /* 圓角 */
    font-family: 'custom-sans-serif', sans-serif; /* 設定字體 */
    font-size: 19px;       /* 設定字體大小 */
    line-height: 1.5;      /* 設定行高 */
    resize: none;          /* 禁止用戶調整大小 */
    white-space: pre-wrap; /* 確保空白符號和換行符號能夠被尊重 */
    white-space: normal;
}

#generatePdfButton {
    display: inline-block; /* 確保按鈕不會變成 block 影響對齊 */
    margin: 0 auto; /* 使按鈕居中 */
    text-align: center; /* 文字居中 */
}

/*


.centered {
    text-align: center;
    margin: 20px 0;
}

.item {
    padding: 10px;
    border: 1px solid #ccc;
}

@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
}

body {
  font-family: 'custom-sans-serif', sans-serif;
  background-color: #FFC78E	;
  margin: 0;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



.container {

    justify-content: left;
    align-items: left;
    height: 100vh;
    font-size: 29px;
}

.centered {
  font-family: 'custom-sans-serif', sans-serif;
  text-align: center;
  margin: 20px 0;
}


.textcontent{
  text-align: left;
}

label {
  font-family: 'custom-sans-serif', sans-serif;
  margin-right: 19px;


}

input {
  font-family: 'custom-sans-serif', sans-serif;
  border: None;
  font-size: 19px;
  line-height: 1;


}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}


*/

/*
label {
  font-family: 'custom-sans-serif', sans-serif;
  margin-bottom: 5px;
  font-weight: bold;
  margin-right: 19px;
  font-weight: 400;

}

input {
  font-family: 'custom-sans-serif', sans-serif;
  margin-bottom: 15px;
  padding: 8px;
  border: None;
  font-size: 19px;
  font-weight: 400;

}
*/